#newRoomRoot{
    display: flex;
    flex-direction: column;
    width: fit-content;
    left: 50%;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    place-items: center;
    border: solid 1px rgba(255,255,255,0.2);
    border-radius: 0.5em;
    box-shadow: 0px 0px 15px 1px black;
}

#newRoomRoot > *{
    margin: 0.5em;
    background-color: rgba(0,0,0,0.2);
    border: solid 1px rgba(255,255,255,0.2);
    border-radius: 0.5em;
    padding: 0.5em;
    text-align: center;
    color: white;   
}

#newRoomRoot > * :not(.activeFormSubmit){
    box-shadow: inset 0px 0px 15px 1px black;
}

.formSubmit{
    width: 5em;
    box-shadow: 0px 0px 15px 1px black;
}
